@{
    ViewBag.Title = "Contact";
}
<h2>Contact Us</h2>
<p>If you need more information, please do get in touch with us and we'll try our best to help. You can contact us by email, telephone/fax, or by post. Contact details for Tywyn Tourist Information Centre and other TRPS email addresses are also included below.</p>

<h2>Email</h2>
<ul>
    <li><a href="mailto:enquiries@talyllyn.co.uk">enquiries@talyllyn.co.uk</a> for general enquiries (and matters not covered by any other more specific address).</li>
    <li><a href="mailto:santa@talyllyn.co.uk">santa@talyllyn.co.uk</a> for enquiries about Santa Specials, the Spirit of Christmas, and the Carol Train.</li>
    <li><a href="mailto:shop@talyllyn.co.uk">shop@talyllyn.co.uk</a> for the Railway Shop at Wharf Station.</li>
    <li><a href="mailto:webmaster@talyllyn.co.uk">webmaster@talyllyn.co.uk</a> for matters relating to these web pages (Please see below for web news items).</li>
    <li><a href="mailto:pressoffice@talyllyn.co.uk">pressoffice@talyllyn.co.uk</a> for media enquiries.</li>
</ul>
<p>Messages to the Enquiries and Shop addresses should receive a reply, even if only an acknowledgement, within 48 hours. Mail to the Webmaster address will be dealt with as soon as the (volunteer) addressee is available. Note that email addresses are not case sensitive.</p>

<h3>Telephone and Fax</h3>
<table>
    <tr>
        <th>Department</th>
        <th>Within UK</th>
        <th>From abroad</th>
    </tr>
    <tr>
        <td>Wharf Station (Main Office)</td>
        <td>01654 710472</td>
        <td>+44 1654 710472</td>
    </tr>
    <tr>
        <td>Fax</td>
        <td>01654 711755</td>
        <td>+44 1654 711755</td>
    </tr>
    <tr>
        <td>Shop</td>
        <td>01654 711012</td>
        <td>+44 1654 711012</td>
    </tr>
    <tr>
        <td>Café</td>
        <td>01654 712704</td>
        <td>+44 1654 712704</td>
    </tr>
    <tr>
        <td>Engineering Department (Pendre Workshops)</td>
        <td>01654 710643</td>
        <td>+44 1654 710643</td>
    </tr>
</table>

<h3>Postal Address</h3>
<address>
    Talyllyn Railway Company<br />
    Wharf Station<br />
    Tywyn<br />
    Gwynedd<br />
    LL36 9EY<br />
    Wales<br />
</address>