@model SOFT331.ViewModels.TravellerBookingViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Welcome to Talyllyn!</h1>
    <p class="lead">Select the date you wish to travel from the dropdown below.</p>
    <p class="lead">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
    
            @Html.DropDownListFor(model => model.TimetableId, Model.Timetables, "---", htmlAttributes: new { @id = "home-timetable-select", @class = "form-control" })
            <input type="submit" value="Book »" class="btn btn-default" />
        }
    </p>
</div>