
@{
    ViewBag.Title = "Confirmation";
}

<h2>Booking Confirmation</h2>

<p>Thank you for your booking. Your unique booking number is @ViewBag.ticketId, please remember this in order to pick up your tickets on the day of travel.</p>
<p>We hope you have a pleasent experience on the Talyllyn railway.</p>